.__information_content {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
    background-color: $dark-text;
    color: $white;
    display: flex;
    div {
        text-align: center;
        flex: 1 1 auto;
        padding-top: 10px;
    }
}

.__information_content_end {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
    background-color: $dark-text;
    color: $white;
    display: flex;
    div {
        text-align: center;
        padding-top: 10px;
    }
}

.__information_avatar {
    position: relative;
    height: 12rem;
    text-align: left;
    left: 20px;
    bottom: 0px;
    margin-top: -150px;
}

.__information_contactme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

@media (max-width: 480px) {
    .__information_avatar {
        position: relative;
        text-align: left;
        left: 10px;
        bottom: 0px;
        margin-top: -70px;
        height: 4.5rem;
    }
}

@media (max-width: 540px) {
    .__information_avatar {
        position: relative;
        text-align: left;
        left: 10px;
        bottom: 0px;
        margin-top: -65px;
        height: 4rem;
    }
}

@media (max-width: 280px) {
    .__information_avatar {
        position: relative;
        text-align: left;
        left: 5px;
        bottom: 0px;
        margin-top: -153px;
        height: 4rem;
    }
}