.__sidebar_content {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    i {
        color: white;
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;
        background-color: transparent;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
    }
}

.__sidebar_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: #FCB912;
        transition: 0.2s ease-in-out;
    }
}

.__sidebar_menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
    @media screen and (max-width: 480px) {
        grid-template-rows: repeat(6, 60px);
    }
}

.__sidebar_wrap {
    display: flex;
    justify-content: center;
}

// .__sidebar_route {
//     border-radius: 50px;
//     background-color: #01bf71;
//     white-space: nowrap;
//     padding: 16px 14px;
//     color: ;
// }