//Colors
$purple: #501bac;
$blue: #2137ac;
$dark-background: #0d0c33;
$blue-sky: #107e9d;
$button-success: #4aae50;
$button-danger: #da3633;
$dark-text: #070705;
$light-gray: #c7c7c7;
$white: #fff;
$background: #f6f6f6;
$google-blue: #4285f4;
$button-active-blue: #1669f2;